$bg-image-20: radial-gradient(rgba(255, 255, 255, 0.06) 2px, transparent 0);

$bg-dark-10: #151515;
$bg-dark-20: #181717;
$bg-dark-30: #202024;

$bg-gray-10: #7b7b7b66;
$bg-green-10: #17B380;

$white: #fafafa;
$shadow: rgba(0, 0, 0, 0.35) 0 5px 20px;