$bg-image-20: radial-gradient(rgba(255, 255, 255, 0.06) 2px, transparent 0);

$bg-dark-10: #121214;
$bg-dark-20: #17171A;
$bg-dark-30: #202024;

$white: #fafafa;
$shadow: rgba(0, 0, 0, 0.40) 0 5px 20px;